/* ESTILO GLOBALES */

body {  
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

/* HEADER */

header {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

nav {
    width: 1440px;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.Logo img {
    height: 72px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 16px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1.5px solid transparent;
    transition: border-color 0.3s ease;
    padding: 16px 32px;
    border-radius: 4px;
}

.nav-links a:hover {
    border-color: #ccc;
}

.nav-links .btn-contacto {
    background-color: black;
    color: white;
    padding: 16px 32px;
    border-radius: 4px;
}

/* MAIN */
main { 
    background-color: #ffffff;
}

#portada { 
    width: 100%;
    height: 50vh;
    position: relative;
    text-align: left;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.portada-content {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 16px;
    display: inline;
    align-items: center;
    color: black;
}

.portada-content h1 {
    font-family:'Archivo Black', sans-serif;
    font-size: 8rem;
    white-space: nowrap;
    overflow: visible;
}

.portada-content p {
    font-style: italic;
    font-size: 2em;
}

/* CASOS INDEX */

#casos { 
    width: 100%;
    background-color: black;
}

.row { 
    width: 1400px;
    height: 40vh;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    position: relative;
    top: -5vh;
    padding-bottom: 40px;
}

.col article {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.col article:hover {
    filter: grayscale(0%);
}

.caso h3 {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: white
    c
}

#caso1 { 
    background-image: url(../img/caso1.jpg);
}

#caso2 { 
    background-image: url(../img/caso2.jpg);
}

#caso3 { 
    background-image: url(../img/caso3.jpg);
}

/* FOOTER */

footer {
    background-color: black;
    border-top: 1px solid #222222;
    
}

footer .content {
    max-width: 1400px;
    padding: 40px 16px 120px 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer li { 
    display: inline-block;
    color: #ccc;
    display: inline;
    align-items: center;
}