#portada {
    height: 50vh;
    display: flex;
    align-items: center;
    color: black;
    padding-bottom: 5vh;

    h1 {
        font-family: 'Archivo Black', sans-serif;
        font-size: 8rem;
    }

    p {
        font-style: italic;
        font-size: 2em;
    }
}


@media screen and (max-width: 576px) {

    #portada {
        height: 30vh;
        padding-bottom: 3vh;

        h1 {
            font-size: 6em;
        }
        
        p {
            font-size: 2em;
        }
    }
}

.casos {
    background-color: black;

    .row {
        padding: 0 8px 0 8px;
        align-items: center;
        position: relative;
        top: -5vh;
    }

    .col article {
        height: 40vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: grayscale(100%);
        transition: filter 0.3s ease;
    }
    
    .col article:hover {
        filter: grayscale(0%);
    }
    
    .caso h3 {
        font-size: 1.5em;
        margin-bottom: 8px;
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 16px;
        padding-left: 8px;
        padding-right: 8px;
        background-color: black;
    }
    
    #caso1 {
        background-image: url(../img/caso1.jpg);
    }
    
    #caso2 {
        background-image: url(../img/caso2.jpg);
    }
    
    #caso3 {
        background-image: url(../img/caso3.jpg);
    }
}


@media screen and (max-width: 576px) {

    .casos {
        opacity: 1;
        visibility: visible;

        .row {
            top: -2vh;
        }

        .col article {
            height: 24vh;
            margin-bottom: 24px;
        }
    
        .caso h3 {
            font-size: 1.5em;
        }
    }

    .casos.visible {
        opacity: 0;
        visibility: hidden;
    }
}