#porfolio {

    #titulo {
        @include title-l;
    }

    .casos {
        background: $wb-background;
    }

    .row {
        top: 0;
    }

    .caso {
        height: 70vh;

    }
}

#servicios {
    color: white;
    padding-top: 50px;
    padding-bottom: 40px;

    #title{
        @include text-l;
        margin-bottom: 16px;
        display: block;
    }

    p {
        @include text-m;
    }

    hr {
        border: 1px solid #888;
    }

    article {
        padding: 24px;
        display: block;
        align-items: center;

        img {
            height: 120px;
        }

        #Branding {
            background-image: url(../img/caso1.jpg);
        }
    }
}