#porfolio {
    .casos {
        background: $wb-background;
    }

    .row {
        top: 0;
    }

    .caso {
        height: 70vh;

    }
}

#servicios {
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;

    h2 {
        color: white;
    }

    hr {
        border: 1px solid #888;
    }

    article {
        padding: 24px;
        display: block;
        align-items: center;

        img {
            height: 120px;
        }

        #Branding {
            background-image: url(../img/caso1.jpg);
        }
    }
}