
footer {
    background-color: black;
    border-top: 1px solid #222222;

    #footer {
        margin-top: 16px;
        margin-bottom: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #contacto span {
        margin: 8px;

        a {
            color: #888;
        }

        a:hover {
            color: white;
        }
    }

    #redes {
        li {
            display: inline-block;
        }

        span {
            margin-left: 16px;
        }
    }

    #legal {
        color: white;
        display: flex;
        font-size: 14px;
        justify-content: center;
        padding-bottom: 40px;
    }
}

.fa-solid {
    margin-right: 8px;
}

.fa-brands {
    font-size: 32px;
    color: #888;
}

.fa-brands:hover {
    color: white;
}