
header {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

#header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
    height: 64px;
    }
}

@media screen and (max-width: 576px) {
    #header {
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            height: 40px;
        }
    }

}


