
.basebtn {
    background-color: rgb(7, 7, 7);
    color: white;
}

#btn-contacto {
    @extend .basebtn;
    padding: 16px 32px;
}

#btn-cerrar {
    display: none;
    text-decoration: none;
    padding: 16px 32px;
    margin-left: 16px;
}

#btn-menu {
    
    display: none;

    .svg {
        width: 24px;
        height: 24px;
        color: black;
    }
}

input[type=submit] {
    @extend .basebtn;
    margin-top: 16px;
    padding: 16px 42px;
}

input[type=submit]:hover {
    box-shadow: 1px 1px 0px 1px black;
}