
.contenedor {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.row {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.fondoNegro{
    background-color: black;
}

li {
    padding: 0;
}

@mixin bloque {
    display: flex;
    align-items: center;
}