$font-family: 'Inter', sans-serif;
$black-color: black;
$white-color: white;
$base-padding: 16px;
$max-width: 1440px;
$mobile-breakpoint: 576px;

$wb-background: linear-gradient(to bottom, white 45%, black 0%);